.healthy {
  color: black;
}

.poison {
  color: red;
  font-family: "Permanent Marker", cursive;
  font-weight: bold;
}

.antidote {
  color: green;
  font-family: var(--bs-font-sans-serif);
  font-weight: normal;
}


header {
  font-family: "Permanent Marker", cursive;
  text-align: center;
  margin-top: 30px;
}

body {
  margin: auto;
  justify-content: center;
}
.lead {
  text-align: center;
}

.list-group-item {
  padding: 1rem 0rem;
}

#instruction-card, #instruction-card .list-group-item {
  background-color: rgb(207, 239, 250);
}

#instruction-list {
  font-weight: bold;
}
